@charset "ISO-8859-1";

/* Width */

.full-width {
	width: 100%;
}

.width-267 {
    width: 267px;
}

/* Height */

.full-height {
	height: 100%;
}

.height-500 {
	height: 500px;
}


/* Font sizes */

.font-size-1 {
	font-size: 12px;
}

.font-size-2 {
	font-size: 14px;
}

.font-size-3 {
	font-size: 15px;
}

.font-size-4 {
	font-size: 16px;
}

.helper-text{
	font-size: 10px;
	font-weight: lighter;
}

.font-weight-bold{
	font-weight: bold;
}
/* Font Weight */

.text-bold {
	font-weight: bold;
}

/* Font Color */

.red-text {
	color: #c45f5d;
}

.white-text {
	color: #fff;
}

.black-text {
	color: #000;
}

#splash-text {
	color: #696969;
}

/* Background Color */

.bg-gray {
	background: #d9d9d9;
}

/* Margins */

.m-l-5 {
	margin-left: 5px;
}

.m-l-7 {
	margin-left: 7px;
}

.m-l-8 {
	margin-left: 7px;
}

.m-l-13 {
    margin-left: 13px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-25 {
	margin-left: 25px;
}

.m-l-26 {
	margin-left: 26px;
}

.m-l-38 {
	margin-left: 38px;
}

.m-t-5 {
	margin-top: 5px;
}

.m-t-8 {
	margin-top: 8px;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-r-5 {
	margin-right: 5px;
}

.m-r-25 {
	margin-right: 25px;
}
.m-r-45 {
	margin-right: 45px;
}

.m-b-5 {
	margin-bottom: 5px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-15{
	margin-bottom: 15px;
}

.m-b-25{
	margin-bottom: 25px;
}

.m-b-55 {
	margin-bottom: 55px;
}

.m-b-15 {
	margin-bottom: 15px;
}

/* Padding */

.p-0 {
	padding: 0;
}

.p-15 {
	padding: 15px;
}

.p-l-0 {
	padding-left: 0;
}

.p-l-15 {
	padding-left: 15px;	
}

.p-t-15 {
	padding-top: 15px;
}

.p-t-25 {
	padding-top: 25px;
}

.p-r-0 {
	padding-right: 0;
}

.p-r-15 {
	padding-right: 15px;
}

.p-b-15 {
	padding-bottom: 15px;
}

/* Line Height */

.l-h-13 {
	line-height: 13px;
}

.l-h-25 {
	line-height: 25px;
}

.l-h-30 {
	line-height: 30px;
}

/* Horizontal Line */

hr {
	margin-top: 15px;
	margin-bottom: 15px;	
}


/* Border Radius */

.b-r-5 {
	border-radius: 5px;
}

.b-r-25{
	border-radius: 25px;
}

/* Rotate */
.rotate-90 {
	transform: rotate(90deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.rotate-270 {
	transform: rotate(270deg);
}

.error-border{
	border: 1px red solid;
}